<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>

    <% var tagList = ["#대학", "#취직", "#연애", "#자녀", "#성적", "#연봉", "#결혼", "#직접 쓰기"]; %>
    <h2 style="text-align: center;"> 문구가 들어가요 </h2>
    <div class="scrollmenu">
      <% for(i =0 ; i<tagList.length ; i++){ %>
      <a class="tag <% if(i ==0 ) { %> active <% } %>"  id="<%= i %>" href="#"><%= tagList[i] %> </a>
      <% } %>
    </div>

    <div id="myModal" class="modal" data-backdrop="false" >
      <div class="modal-content">
        <span class="close">&times;</span>
        <h4 id="first_letter"> 대 </h4>
        <input type="text"/>
        <h4 id="first_letter"> 학 </h4>
        <input type="text"/>
      </div>
    </div>

    <center id="card_style">
      <div class="imageBlock" style="padding: 3%; height: 80%;">
        <label for="fileInput" style= "height: 100%;">
          <img id="origin_image" src="/images/emptyinside.png" style=" height: 100%; width: 100% ; max-width: 1000px;" >
        </label>
          <input id="fileInput" name="fileInput" type="file" style="display: none;"/>
          <input type="text" id="filePath" style="display: none;"/>
      </div>

      <div class="textBlock" style="text-align: start; padding-left: 7%; padding-bottom: 3%; height: 20%;">
        <h4 id="first_letter"> 대구에서  </h4>
        <br>
        <h4 id="second_letter"> 학교다니기 </h4>
      </div>
    </center>


    <center style="margin-top: 40vh;">
      <h1> 처리 중입니다. </h1>
      <div class="loader"></div>
    </center>

    <center style="margin-top: 10vh;">
      <center style="width: 80%; margin: auto; height: 60vh; background: beige">
        <div class="textBlock" style="padding-top: 5%; height: 25%;">
          <h4 id="first_letter"> 대 </h4>
          <div style="display:inline;" id="result1"></div>           
          <br>
          <h4 id="second_letter"> 학 </h4>
          <div style="display:inline" id="result2"></div>  
        </div>
        <div class="imageBlock" style="padding-top: 5%; height: 75%;">
          <a href="#" data-toggle="modal" data-target="#filterModal"><img id="filter_img" src="/images/pick2.png" style=" width: 90%; " ></a>

          <!-- Modal -->
          <div class="modal" style="position: absolute;" id="filterModal" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Select a filter</h4>
                </div>
                <div class="modal-body setmargin">
                  <div style="display: block;">
                    <% var FilterList = ["filter1-01.png","filter2-01.png","filter3-01.png","filter5-01.png","filter7-01.png"]; %>
                    <%for(var i=0;i<3;i++){ %>
                    <div style="display: inline-block; height:30%; margin:10px 10px">
                      <% for(var j=0;j<2 && i*2+j <FilterList.length;j++){ %>
                      <img id="<%=i*2+j %>" class="filtersend" data-dismiss="modal" style="width:30%;" src="/images/Style2/<%=FilterList[i*2+j] %>"] />
                      <% } %>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </center>

    </center>


    <div class="container">
      <div class="card" style="width: 50%;">
        <img class="card-img-top" src="./images/post8.png" style="width: 100%">
        <div class="card-img-overlay">
          <h1 id ="first_letter" class="card-tilte" style="position: relative; left: 12%; top:8%">대 :</h1>
          <h1 id ="second_letter" class="card-tilte" style="position: relative; left: 12%; top:8%">학 :</h1>
        </div>
      </div>
    </div>
  </body>

  <script>

$(document).ready(function(){
  $("span.close").click(function(){
    $("#myModal").css('display','none');
  });

  $("a.tag").click(function(){
    $("#myModal").css('display','block');  
  });

  $(window).click(function(e){
    if( e.target.id == "myModal")
    {
      $("#myModal").css('display','none');
    }
  });

  // Upload Files
  $('#fileInput').on('change', function () {
    var form = $('#fileForm')[0];
    var formData = new FormData(form);
    console.log("it's changed");

    $.ajax({
      type: 'post',
      url: '/ajax/upload',
      data: formData,
      processData: false,
      contentType: false,
      success: function (data) {
        $('#filePath').val(data);
        console.log(data);

        $('#origin_image').attr("src","/"+data);
        $(".main").moveDown();

      },
      error: function (err) {
        console.log(err);
      }
    });
  });


  // Send to DB
  $('.filtersend').click(function(){
    var filenameOb = document.getElementById("filePath");
    var filename = filenameOb.value;
    var stylenum = $(this).attr("id");         
    $('#filter_img').attr("src",$(this).attr("src"));
    $.post('/ajax/style', {stylenum: stylenum, filename: filename });
    $(".main").moveDown();

  });

  $('a.tag').click(function(){
    var id = $(this).attr('id');
    $('a.tag').removeClass("active");
    $(this).addClass("active");
    var letters ="<%= tagList %>";
    var tagList = letters.split(',')
      //first Letter is tagList[id][1];
      //second Letter is tagList[id][2];
      $('h4#first_letter').text(tagList[id][1]);
    $('h4#second_letter').text(tagList[id][2]);
  });
});

var http = new XMLHttpRequest();
while(http.status==404){
  setTimeout(function(){ 
    http.open('HEAD',"/images/Result/<%=uploadfile%>", false);
    http.send();
    console.log(http.status!=404); 
  },5000);

}

function textPrint() {
  var text1 = document.getElementById("input1");
  var text2 = document.getElementById("input2");

  var textline1 = text1.value;
  var textline2 = text2.value;
  //console.log(textline);

  // print out to page
  var result1 = document.getElementById("result1");
  var result2 = document.getElementById("result2");

  result1.innerHTML = textline1;
  result2.innerHTML = textline2;

  $(".main").moveDown();
}

var slidesPerView;
if($('body').width() >1000)
{
  slidesPerView= 5
}
else
{
  slidesPerView= 2
}

var swiper = new Swiper('.swiper-container', { 
  spaceBetween: 30, 
  freeMode: true, 
  slidesPerView: slidesPerView,
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});


  </script> 
  </body>
</html>

