<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>

    <style>

#val11 td
{
  text-align: center;
  padding: 1px;
}

    </style>


  </head>

  <body id=background>
    <div id="index_container">
      <div id="idx1">
        <div id="backgroundMent">
        choose your frame!
        </div>
      </div>

  
      <table id = "val11" style="float:left;width: 100%;height: 50%;">
        <tr>
          <th>
            <td> 
              <a href="../../flower2/<%=userName%>/<%=userEmail%>" >
                <img src="/images/img/sxswFrames01.png" style="width: 100%; height: 20%">
              </a>
            </td>
          </th>
          <th>
            <td>
              <a href="../../flower/<%=userName%>/<%=userEmail%>" >
                <img src="/images/img/sxswFrames02.png" style="width: 100%; height: 20%;">
              </a>
            </td>

          </th>


        </tr>
        <tr>
          <th>
            <td> 
              <a href="../../sularoid/<%=userName%>/<%=userEmail%>" >
                <img src="/images/img/sxswFrames03.png" style="width: 100%; height: 20%">
              </a>
            </td>
          </th>

          <th>
            <td>
               <a href="../../insta/<%=userName%>/<%=userEmail%>" >
                <img src="/images/img/sxswFrames04.png" style="width: 100%; height: 20%">
              </a>
            </td>

          </th>


        </tr>


      </table>

      <div id="stepBar_main" >
        <img id="s0" src="/images/bar1.png">
      </div>
    </div>
  </body>
</html>


